@import "tailwindcss";
@import "tw-animate-css";

/* @custom-variant dark (&:is(.dark *)); */

:root {
  --radius: 0.625rem;
   --background:oklch(91.887% 0.0001 271.152) ;
  --foreground: oklch(20.482% 0.01909 266.062);
  --card: oklch(100% 0.00011 271.152);
  --card-foreground: oklch(20.482% 0.01909 266.062);
  --popover: oklch(1 0 0);
  --warning:oklch(0.828 0.189 84.429);
  --danger:oklch(51.931% 0.21269 29.179);
  --success:oklch(20.482% 0.01909 266.062);
  --popover-foreground: oklch(0.145 0 0);
  --primary:oklch(20.482% 0.01909 266.062);
  --primary-foreground: oklch(91.887% 0.0001 271.152);
  --secondary: oklch(86.07% 0.0001 271.152);
  --secondary-foreground:oklch(23.395% 0.02554 261.049) ;
  --muted: oklch(88.224% 0.0001 271.152);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(82.926% 0.16401 92.855);
  --accent-foreground: oklch(20.482% 0.01909 266.062);
  --destructive: oklch(51.931% 0.21269 29.179);
  --border: oklch(77.628% 0.00009 271.152);
  --input: oklch(23.395% 0.02554 261.049);
  --ring: oklch(28.058% 0.02475 251.16);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark{
  --background: oklch(22.09% 0.02169 260.54);
  --foreground: oklch(100% 0.00011 271.152);
  --card: oklch(20.482% 0.01909 266.062);
  --card-foreground: oklch(100% 0.00011 271.152);
  --popover: oklch(1 0 0);
  --warning:oklch(0.828 0.189 84.429);
  --danger:oklch(51.931% 0.21269 29.179);
  --success:oklch(20.482% 0.01909 266.062);
  --popover-foreground: oklch(0.145 0 0);
  --primary:oklch(91.887% 0.0001 271.152);
  --primary-foreground:  oklch(20.482% 0.01909 266.062);
  --secondary: oklch(23.395% 0.02554 261.049);
  --secondary-foreground: oklch(55.004% 0.0071 75.236);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(82.926% 0.16401 92.855);
  --accent-foreground: oklch(100% 0.00011 271.152);
  --destructive: oklch(51.931% 0.21269 29.179);
  --border: oklch(34.846% 0.00004 271.152);
  --input: oklch(23.395% 0.02554 261.049);
  --ring: oklch(28.058% 0.02475 251.16);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-success: var(--success);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply box-border border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground transition-none;
  }

  h1 {
    @apply text-3xl sm:text-4xl md:text-5xl lg:text-6xl xl:text-6xl font-extrabold leading-tight;
  }

  h2 {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-5xl font-bold leading-snug;
  }

  h3 {
    @apply text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-4xl font-semibold leading-snug;
  }

  h4 {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-3xl font-semibold leading-normal;
  }

  h5 {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl xl:text-2xl font-medium leading-normal;
  }

  h6 {
    @apply text-sm sm:text-base md:text-lg lg:text-xl xl:text-xl font-medium leading-normal;
  }

  p {
    @apply leading-8;
  }
}

/* Hide scrollbar while maintaining scroll functionality */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }
}
